{% extends 'django_blog/base.html' %}

{% block content %}

<div class="cotainer ">
    <div class="row mt-5 justify-content-center">
        <div class="card col-md-8 col-12">
            <div class="card-header h4">
              Write Blog Post
            </div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary ml-auto">Go somewhere</a>
            </div>
          </div>
    </div>
</div>

{% endblock %}