{% extends 'django_blog/base.html' %}

{% block style %}
<style>
    body{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    }
    #the_list>li:nth-child(5)>a{
        text-decoration: underline;
    }
</style>
{% endblock %}

{% block content %}


<div class="container justify-content-center d-flex">
    <div class="row shadow mt-3 col-8">
        <h3 class=" my-4"><u>About Author</u></h3>
        <p>
            My name is Vitor Freitas, I'm a software developer and researcher from Brazil. At the moment, I'm living in Oulu, Finland doing my Ph.D. I'm a passionate software developer, currently working with Python and Django. I also worked several years in industry with Java, C♯ and ASP/VBScript.

            I created this blog to share some of my thoughts and experience about programming. To be honest, I'm no Python/Django expert, but we all have something good to share. Besides, we learn much more by teaching what we know.
            
            The name of this blog – if you are familiar with Python probably you already got the reference — was inspired by “The Zen of Python”, created by Tim Peters, which is an easter egg that can be found in Python version 2.1.2 or later by typing import this in a Python interpreter.
            
            If you haven't read it yet, take a moment and read it, you won't regret:
        </p>
    </div>
</div>

{% endblock %}

