<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name = 'description' content="articles on djago tutorials">
    <meta name = 'author' content="Aremu Azeez Taiwo">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link  rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Django Way | Home</title>
    <style>
        body{
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    </style>
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary px-5 text-secondary">
        <a class="navbar-brand text-success" href="#">Django<span class="text-info">Way</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="#">Tutorials</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Series
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">User Registration</a>
                <a class="dropdown-item" href="#">Models</a>
                <a class="dropdown-item" href="#">Views</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Videos</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>


      <section class="pt-3 bg-light">
          <h2 class='text-center'>Lets django the <span class='text-success'>django</span><span class='text-info'>way</span> first</h2>

          <div class="container mt-5">
              <div class="row">
                  <div class="column col-3 d-none d-md-block">
                    <h3>Column 1</h3>
                    <h6 class="mt-4">User registration</h6>
                    <h6 class="mt-4">Models creation</h6>
                    <h6 class="mt-4">User registration</h6>
                    <h6 class="mt-4">Models creation</h6>
                    <h6 class="mt-4">User registration</h6>
                    <h6 class="mt-4">Models creation</h6>
                  </div>

                  <div class="column col-12 col-md-9 text-center">
                    <div class="row text-left mb-3 border rounded bg-white  pt-3">
                        
                        <h2 class="text-center mb-4 col-12">User Registration</h2>
                        
                        <div class="row col-12 mb-3 text--justify-center pl-5">
                        <i class="fa fa-calendar mr-3 mb-2"> 29 - 10 - 2021 </i>
                        <i class="fa fa-user mr-3 mb-2"> Aremu Azeez</i>
                        <i class="fa fa-clock mr-3"> 10 mins read </i>
                        <i class="fa fa-eye "> 100 views </i>
                        </div>

                    <p class="text-left pl-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, tempora pariatur libero quas expedita consectetur delectus hic vero. 
                        Aliquid velit culpa iusto recusandae quis in asperiores, reiciendis sed eveniet labore!
                    </p>
                </div>


                <div class="row text-left mb-3 border rounded bg-white  pt-3">
                        
                    <h2 class="text-center mb-4 col-12">Models Creation</h2>
                    
                    <div class="row col-12 mb-3 pl-5">
                    <i class="fa fa-calendar mr-3 mb-2"> 29 - 10 - 2021 </i>
                    <i class="fa fa-user mr-3 mb-2"> Aremu Azeez</i>
                    <i class="fa fa-clock mr-3"> 10 mins read </i>
                    <i class="fa fa-eye "> 100 views </i>
                    </div>

                <p class="text-left pl-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, tempora pariatur libero quas expedita consectetur delectus hic vero. 
                    Aliquid velit culpa iusto recusandae quis in asperiores, reiciendis sed eveniet labore!
                </p>
            </div>

            <div class="row text-left mb-3 border rounded bg-white  pt-3">
                        
                <h2 class="text-center mb-4 col-12">Function Based Views</h2>
                
                <div class="row col-12 mb-3 pl-5">
                <i class="fa fa-calendar mr-3 mb-2"> 29 - 10 - 2021 </i>
                <i class="fa fa-user mr-3 mb-2"> Aremu Azeez</i>
                <i class="fa fa-clock mr-3"> 10 mins read </i>
                <i class="fa fa-eye "> 100 views </i>
                </div>

            <p class="text-left pl-3">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse, tempora pariatur libero quas expedita consectetur delectus hic vero. 
                Aliquid velit culpa iusto recusandae quis in asperiores, reiciendis sed eveniet labore!
            </p>
        </div>

                  </div>
              </div>
          </div>
      </section>

      <!-- Javascripts files-->
      <script src="{% static 'js/jquery-3.5.1.min.js'%}"></script>
      <script src="{% static 'js/bootstrap.min.js'%}"></script>
      <script src="{% static 'js/popper.min.js'%}"></script> 
</body>
</html>