{% extends 'django_blog/base.html '%}

{% block content %}


<div class="container col-4 mt-5 pt-5 ">
    <div class="row shadow pb-5 pt-3">
        <h1>Password Reset Form</h1>
        <form method="POST" action="{% url 'reset_password' %}">
        {% csrf_token %}
            <div class="mb-3">
              
                {% for error in form.password.errors %}
                <label class="form-control px-0 mx-0 border-0 text-danger bg-light">{{error}}</label>
                {% endfor %}
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name = 'password'>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name = 'password2'>
            </div>
            
            <button type="submit" class="btn btn-block col-12 mt-3 btn-primary ">Change Password</button>
        </form>

    </div>
</div>


{% endblock %}